<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- PRODUCTION SETTINGS  -->
	<production>

	</production>
	<!-- /PRODUCTION SETTINGS  -->


	<!-- DEVELOPMENT SETTINGS  -->
	<development>
		<!-- Application settings -->
		<phpSettings>
			<display_startup_errors>1</display_startup_errors>
			<display_errors>1</display_errors>
		</phpSettings>
		<includePaths>
			<resources>../application/resources</resources>
			<domains>../application/domains</domains>
		</includePaths>
		<autoloadernamespaces>
			<namespace>Cmp</namespace>
			<namespace>Oxy</namespace>
			<namespace>Admin</namespace>
		</autoloadernamespaces>
		<bootstrap>
			<path>../application/Bootstrap.php</path>
			<class>Bootstrap</class>
		</bootstrap>
		<!-- / Application settings -->

		<!-- Resources -->
		<resources>
			<!-- Oxy Frontcontroller resource -->
			<Front>
				<domaindirectory>../application/domains</domaindirectory> 
				<plugins>
					<plugin1>Oxy_Controller_Plugin_Json</plugin1> 
				</plugins>

				<defaultdomain>frontend</defaultdomain>
				<defaultmodule>default</defaultmodule>
				<defaultcontrollername>index</defaultcontrollername>
				<defaultaction>index</defaultaction>
				<throwexceptions>true</throwexceptions> 
				<params>
					<prefixDefaultModule>1</prefixDefaultModule> 
				</params> 
			</Front>
			

			<!-- Oxy config Oxy/Application/Resource/Conf.php -->
			<conf></conf>
			

			<!-- Oxy config Oxy/Application/Resource/Errorhandler.php 
			<errorHandler>
				<errorsFile>../application/config/oxy_errors.xml</errorsFile>
			</errorHandler>
			-->

			<!-- Oxy config Oxy/Application/Resource/Logger.php -->
			<logger>
				<logFile>../application/logs/error.log</logFile> 
			</logger>
			

			<!-- Oxy config Oxy/Application/Resource/Doctrine.php -->
			<doctrine>
				<dbParams> 
					<charset>utf8</charset>
					<connectionName>app</connectionName> 
					<driver>mysql</driver>
					<host>localhost</host> 
					<port>3306</port> 
					<db>oxy_cms</db>
					<user>root</user> 
					<pass>root</pass> 
				</dbParams> 
			</doctrine>
			

			<!-- Oxy Smarty integration resource 
			<Smarty> 
				<params>
					<engine>smarty</engine> 
					<compileDir>C:\tmp</compileDir>
					<configDir>application/library/Externals/smarty/configs</configDir>
				</params> 
				<caching>false</caching>
				<compile_check>true</compile_check>
				<force_compile>true</force_compile> 
				<cache_dir>C:/tmp</cache_dir>
				<suffix>tpl</suffix> 
					<skins> 
						<admin>oxy</admin>
						<frontend>oxy</frontend> 
						<oxybase>oxy</oxybase> 
					</skins> 
			</Smarty>
			-->

			<!-- Oxy Layout resource -->
			<OLayout>
				<base_include_path>../application/</base_include_path>
				<layouts_dir>layouts</layouts_dir> 
				<domains> 
					<admin>
						<layout_path>admin/</layout_path> 
						<layout_name>index</layout_name>
					</admin> 
					<frontend> 
						<layout_path>frontend/</layout_path>
						<layout_name>index</layout_name> 
					</frontend> 
					<oxybase>
						<layout_path>oxybase/</layout_path> 
						<layout_name>index</layout_name>
					</oxybase> 
				</domains>
				<base_url>http://localhost/Workspace/OxyBase/trunk/public/</base_url>
				<suffix>tpl</suffix> 
			</OLayout>
			

			<!-- Oxy modules -->
			<OModules></OModules>
			
			<!-- Oxy domains -->
			<Domains></Domains>
			
		</resources>
		<!-- /Resources -->

		<pluginPaths>
			<Oxy_Application_Resource>../application/library/Oxy/Application/Resource</Oxy_Application_Resource>
		</pluginPaths>
	</development>
	<!-- /DEVELOPMENT SETTINGS  -->

	<!-- TESTING SETTINGS  -->
	<testing>

	</testing>
	<!-- /TESTING SETTINGS  -->

</config>